@model SinhVien

@{
    ViewBag.Title = "Xóa sinh viên";
}

<div class="card">
    <h5 class="card-header">Xác nhận xóa sinh viên</h5>
    <div class="card-body">
        <h6 class="card-title alert alert-warning">Bạn có chắc xóa sinh viên @Model.TenSV không?</h6>
        <table class="table">
            <tr>
                <td width="128">@Html.DisplayNameFor(model => model.MSSV)</td>
                <td><b>@Html.DisplayFor(model => model.MSSV)</b></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.TenSV)</td>
                <td><b>@Html.DisplayFor(model => model.TenSV)</b></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.NgaySinh)</td>
                <td><b>@Model.NgaySinh.ToString("dd/MM/yyyy")</b></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Lop)</td>
                <td><b>@Html.DisplayFor(model => model.Lop)</b></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Nu)</td>
                <td><b>@(Model.Nu ? "Nữ" : "Nam")</b></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DiaChi)</td>
                <td><b>@Html.DisplayFor(model => model.DiaChi)</b></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DienThoai)</td>
                <td><b>@Html.DisplayFor(model => model.DienThoai)</b></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Diem)</td>
                <td><b>@Html.DisplayFor(model => model.Diem)</b></td>
            </tr>
        </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Xóa" class="btn btn-primary" /> 
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-success" })
        }
    </div>
</div>

@section styles {
    <style type="text/css">
        .card {
            width: 600px;
            margin: 0 auto;
            margin-top: 30px;
        }
    </style>    
}