<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
    <style type="text/css">
        body {
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="">Bài tập kết nối CSDL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        @Html.ActionLink("Trang chủ", "Index", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Nhóm sinh viên thực hiện", "Creators", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
    <div id="main-content">
        @RenderBody()
    </div>

    <div id="footer">

    </div>
</body>
</html>